.icons-socil{
    position: absolute;
    top: 50%;
    display: grid;
    transform: translateY(-50%);
    gap: 1rem;
    transition: color 1s;
    padding: 0px 0px 300px 40px;
}

.mood .icons-socil{
    color: #fff;
}